@import 'tailwindcss';

@font-face {
  font-family: 'suse';
  src: url('/fonts/SUSE_Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-background: #0a0a0a;
  --color-foreground: white;

  --color-primary: #1a1a1a;
  --color-primary-foreground: white;

  --color-primary-muted: #2a2a2a;
  --color-primary-muted-foreground: #cccccc;

  --color-battery: var(--color-yellow-400);
  --color-temperature: var(--color-red-400);

  --color-acceleration: var(--color-green-400);
  --color-gyroscope: var(--color-blue-400);
  --color-status: var(--color-indigo-400);
  --color-altitude: var(--color-purple-400);
  --color-position: var(--color-teal-400);

  --color-positive: var(--color-green-500);
  --color-negative: var(--color-red-500);
}

*, html, body {
  font-family: 'suse', monospace;
}
